# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
temp/
tmp/

# Uploaded images (optional)
uploads/

# TensorFlow checkpoints (if any)
checkpoints/git rm -r --cached venv